# Demo Project - Dev

## Import Libraries

In [4]:
import pandas as pd

In [18]:
data_dict = { 'Cust_ID': [1,2,3], 
              'Name': ['Amos', 'Shaney', 'Lionel'],
              'Amount': ['10','15','5'],
              'Item': ['T-shirt', 'Shorts', 'Hat'],
            }

In [20]:
df = pd.DataFrame(data_dict)

In [22]:
display(df)

   Cust_ID    Name Amount     Item
0        1    Amos     10  T-shirt
1        2  Shaney     15   Shorts
2        3  Lionel      5      Hat

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cust_ID  3 non-null      int64
 1   Name     3 non-null      object
 2   Amount   3 non-null      object
 3   Item     3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes